<div class="protected-container">
  <h2>Área Protegida</h2>
  <p>Bem-vindo!</p>

  <h3>Usuários cadastrados:</h3>
  <ul>
    {{#each users}}
      <li>{{this.email}}</li>
    {{/each}}
  </ul>

  <a class="btn-primary" href="/logout">Sair</a>
</div>