<section class="container">
  <h2>Cadastrar</h2>
  <form action="/register" method="POST">
    <input type="email" name="email" placeholder="Seu e-mail" required>
    <input type="password" name="password" placeholder="Sua senha" required>
    <button type="submit">Cadastrar</button>
  </form>
</section>